<!DOCTYPE html>
<html lang= "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content ="width =device-width, initial-scale=1.0">
    <title> HPI</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<!-- buttons -->

<style>
button {
   background-color: rgb(255, 175, 222);
   border: none;
   color: black;
   padding: 25px;
   text-align: center;
   font-size: 20px;
   margin: 4px 2px;
   transition: 0.3s;
   font-family:  sans-serif;
   font-weight: bolder;
}
button:hover {
   background-color: #4d0036;
   color: white;
}
</style>
</head>
</head>

<body>
  <div class="wrapper">
  <div class="menu-bar">
    <ul>
    <li class="active"><a href ="#"><i class="fas fa-heart"></i>want $500</a></li>
    <li><a href ="#"><a href ="#"><i class="fas fa-heart"></i>Hi Zana</a></li>
    <li><a href ="#"><i class="fas fa-home"></i>community</a></li>
    <li><a href ="#"><i class="fas fa-globe"></i>help</a></li>
    <input type="text" placeholder=i class="fas fa-search"></i>>
    
    </ul>
  </div>
</div>

          
          
<!-- text in the middle -->   
      <h3>Your Coaching Programs</h3><br>

<!-- Portfolio Gallery Grid -->
<div class="Gcontainer">
<div class="row">
    <div class="column">
      <div class="content">
        <img src="mountains.jpg" alt="text1" style="width:100%">
        <h3>HIGH PERFORMANCE ENTREPRENUER</h3>
        <p>Lorem ipsum..</p>
        <button>learn more</button>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="lights.jpg" alt="text2" style="width:100%">
        <h3>90-DAY ACCELERATOR (0>$10K/MONTH)</h3>
        <p>Lorem ipsum..</p>
        <button>learn more</button>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="nature.jpg" alt="text3" style="width:100%">
        <h3>INNER CIRCLE ($10K/mo >$30K/MONTH)</h3>
        <p>Lorem ipsum 50..</p>
        <button>learn more</button>
      </div>
    
  </div>
</div>

</body>
</html>








